@model PagedList.IPagedList<JardinesEF.Web.Models.Producto.ProductoListVm>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}
<div>
    <a href="@Url.Action("Create","Productos")" class="btn btn-primary" style="float: right">Nuevo</a>
    <h2>Listado de Productos</h2>
</div>
@using (Html.BeginForm(null, null, FormMethod.Get, new { @class = "form-inline" }))
{
    <p>
        <label>Filtrar por:</label>
        @Html.DropDownList("categoriaSeleccionadaId", (SelectList)ViewBag.Categorias, htmlAttributes: new { @class = "form-control" })
        <input type="submit" class="btn btn-success" value="Filtrar" />

    </p>

}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().NombreProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().PrecioUnitario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().UnidadesEnStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Suspendido)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td style="text-align: right">
                @Html.DisplayFor(modelItem => item.PrecioUnitario)
            </td>
            <td style="text-align: right">
                @Html.DisplayFor(modelItem => item.UnidadesEnStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Suspendido)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Detalles", "Details", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-info" })
                @Html.ActionLink("Borrar", "Delete", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
Página: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber), de: @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    sortOrder =
        ViewBag.CurrentSort,
    currentFilter = ViewBag.CurrentFilter
}))
