@model PagedList.IPagedList<JardinesEF.Web.Models.Cliente.ClienteListVm>
@using JardinesEF.Web.Classes
@using PagedList.Mvc

<div>
    <a href="@Url.Action("Create","Clientes")" style="float: right" class="btn btn-primary">Nuevo</a>
    <h2>Listado de Clientes</h2>

</div>
@if (TempData["operacion"] != null)
{
    var operacion = (Operacion)TempData["operacion"];
    var msg = TempData["Msg"].ToString();
    switch (operacion)
    {
        case Operacion.Agregar:
            <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Éxito!</strong> @msg
            </div>

            break;
        case Operacion.Borrar:
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Éxito!</strong> @msg
            </div>

            break;
        case Operacion.Editar:
            <div class="alert alert-warning alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Éxito!</strong> @msg
            </div>

            break;
    }
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Pais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Ciudad)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ClienteId},new{@class="btn btn-warning"}) 
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-info" })
                @Html.ActionLink("Delete", "Delete", new { id = item.ClienteId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
Página: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber), de: @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    sortOrder =
        ViewBag.CurrentSort,
    currentFilter = ViewBag.CurrentFilter
}))
